  <li class="article-item">
    <article class="article">
      <h3 class="section-main-title">{{ post.data.title }}</h3>
      <div class="section-large my-link">
        {{ post.templateContent | safe }}
      </div>
    </article>
  </li>