  <li class="article-item">
    <a href="{{ post.url }}">
    <article class="article" style="background-image: url('{{ post.data.image }}');" alt="{{ post.data.imageAlt }}" >

      <div class="article-summary">
        <h3 class="article-title">{{ post.data.title }}</h3>
        {# <div class="article-body">
          {{ post.data.description }}
        </div> #}
      </div>
    </article>
  </a>
  </li>
