//colors
$jack-white: #d8dee9;
$jack-white-1: #e5e9f0;
$jack-white-2: #eceff4;

$jack-black: #2e3440;
$jack-black-2: #3b4252;
$jack-black-3: #434c5e;
$jack-black-4: #4c566a;

$frost-one: #8fbcbb;
$frost-two: #88c0d0;
$frost-three: #81a1c1;
$frost-four: #5e81ac;

$red-fox: #bf616a;
$yellow-ono: #ebcb8b;
$agent-orange: #d08770;
$al-green: #a3be8c;
$purple-rain: #b48ead;

$vp-large: 1024px;
$vp-mid: 768px;
$vp-small: 320px;


//text
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
$font-stack: 'Roboto Mono', monospace;