//viewport size
$vp-small				: 320px;
$vp-mid					: 768px;
$vp-large				: 1024px;
$vp-max					: 1350px;

$site-width				: $vp-large;

//colors

$jack-white: #fffffa;
$jack-white-one: #d8dee9;
$jack-white-two: #e5e9f0;
$jack-white-three: #eceff4;

$jack-black: #1F1F1F;
$jack-black-one: #2e3440;
$jack-black-two: #3b4252;
$jack-black-three: #434c5e;
$jack-black-four: #4c566a;

$red-fox: #bf616a;
$yellow-ono: #ebcb8b;
$agent-orange: #d08770;
$al-green: #a3be8c;
$purple-rain: #b48ead;

$nord-one: #8fbcbb;
$nord-two: #88c0d0;
$nord-three: #81a1c1;
$nord-four: #5e81ac;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&display=swap');

$primary-font:    'Fira Sans', sans-serif;
$secondary-font:  'Patua One', Cursive;