//dark styling

.dark-theme {
  color: $jack-white;
  background-color: $jack-black;

  a { color: $agent-orange; }

  .sitenav {
    border-color: $jack-white;
    .sitenav-inner {
      .logo { fill: $jack-white; }

      .nav-list a { color: $jack-white; }

      .night-mode-btn svg { fill: $jack-white; }

      .link-btn { color: $jack-white; }
    }
  }

  .footer {
    border-color: $jack-white;
    .footer-inner {
      .social-nav .logo { fill: $jack-white; }
    }
  }
}



body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: {
    size: 1.13rem;
    family: $primary-font;
    weight: 400;
  }
  color: $jack-black;
  background-color: $jack-white;


/*************/
///buttons
/*************/

  .btn {
    cursor: pointer;
    padding: 0.75em 1.75em;
    border-radius: 0.25em;

    &-primary {
      align-self: flex-start;
      background: $frost-two;
      color: $jack-black;
      font-weight: 700;
      @include hover  {
        text-decoration: none;
        color: $jack-white-two;
        background: $jack-black-four;
      }
    }
  }

/*************/
//header
/*************/

  .sitenav {
    width: 100%;
    border-bottom: 1px dashed $jack-black;

    &-inner {
      @include width-constrain;
      @include flex-all($direction: column, $justify:center,$align:center);
      padding: 0.75rem;

      .logo {
        margin: 0;
        width: 60px;
        fill: $jack-black;
      }

      .nav-list {
        display: flex;
        align-items: center;

        a {
          margin-right: 2rem;
          text-decoration: none;
          color: $jack-black;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .night-mode-btn {
        color: $jack-black;
        background-color: transparent;
        border: none;

        svg {
          fill: $jack-black;
          width: 60px;
        }
      }

    }
    @include respond-to($vp-mid) {
      &-inner {
        @include flex-all($direction: row, $justify:space-between);
      }
    }
  }

/*************/
//content
/*************/

  #content_main {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .content-container {
    @include width-constrain;
    padding: 0.75rem;

    .section-title {
      @include scale-font($small-ratio: .75, $final-size: 2rem);
      font: {
        family: $secondary-font;
        weight: 700;
      }
    }

    .section-title-sub {
      @include scale-font($small-ratio: .75, $final-size: 1.13rem);
      font: {
        family: $secondary-font;
        weight: 700;
      }
    }

    .section-large {
      @include scale-font($small-ratio: .75, $final-size: 2rem);
      line-height: 2.5rem;
    }

    .section-text {
      a {
        &:nth-child(1) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $red-fox;
          @include hover {
            color: #000000;
            background-color: $red-fox;
          }
        }
        &:nth-child(2) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $yellow-ono;
          @include hover {
            color: #000000;
            background-color: $yellow-ono;
          }
        }
        &:nth-child(3) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $agent-orange;
          @include hover {
            color: #000000;
            background-color: $agent-orange;
          }
        }
        &:nth-child(4) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $al-green;
          @include hover {
            color: #000000;
            background-color: $al-green;
          }
        }
        &:nth-child(5) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $frost-one;
          @include hover {
            color: #000000;
            background-color: $frost-one;
          }
        }
        &:nth-child(6) {
          padding: 0 .05em;
          text-decoration: none;
          font-weight: 700;
          color: $frost-two;
          @include hover {
            color: #000000;
            background-color: $frost-two;
          }
        }
      }
    }

    .list {
      @include stripped-list;
    }

  }

/*************/
//homepage content
/*************/

#row_main {
  @include width-constrain;
  display: grid;
  @include respond-to($vp-mid) {
    grid-template-areas: "content content list";
  }
}

.homepage_projects {
  @include flex-all($direction:column,$justify:center);
  .profile-image { width: 100%; }
  @include respond-to($vp-mid) {
    margin: 2em 0;
    border-left: 1px $jack-white dashed;

    .profile-image { max-width: 230px; }
  }
}
/*************/
//blog
/*************/

  .blog-list {
    @include width-constrain;
    display: grid;
    gap: 1rem;

    .list { @include width-constrain; }

    .article {
      @include flex-all($direction:column,$justify:space-between);
      padding: 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px dashed $jack-black;
      &-title {
        @include scale-font($small-ratio: .75, $final-size: 2rem);
        padding: 0 0 1em 0;
        margin: 0;
        a {
          color: $jack-black;
          text-decoration: none;
          @include hover  {
            color: $al-green;
          }
        }
      }
      &-image { border-radius: .25em; }
      &-body {
        padding: 1em 0;
        font-size: 1.13rem;
      }
      // &:last-child {
      //   border-bottom: 0px solid transparent;
      // }
    }


  }

/*************/
//footer
/*************/

  .footer {
    width: 100%;
    border-top: 1px dashed $jack-black;
    &-inner {
      @include width-constrain;
      @include flex-all($direction: column, $align:center);
      padding: 0.75rem;
      .social-nav {
        @include flex-all($justify:center,$align:center);
        .logo {
          width: 40px;
          margin: 0 .5em;
          fill: $jack-black;
        }
      }
      .copyright {
        text-align: center;
      }
    }
    @include respond-to($vp-mid) {
      &-inner {
        @include flex-all($direction: row, $justify:space-between);
        .copyright { margin-left: auto; }
      }
    }
  }
}