//dark styling

.dark-theme {
  color: $jack-white;
  background-color: $jack-black;

  #header {
    border-color: $jack-white;
    .sitenav-inner {
      .logo {
        fill: $jack-white;
      }

      .nav-list a {
        color: $jack-white;
        @include hover {
          color: $jack-white;
        }
      }

      .night-mode-btn svg {
        fill: $jack-white;
      }

      .link-btn {
        color: $jack-white;
      }
    }
  }

  #homepage_projects {
    @include respond-to($vp-mid) {
      border-color: $jack-white;
    }
  }

  .btn {
    background: $agent-orange;
    color: $jack-white;
    @include hover {
      background: $red-fox;
    }
  }

  .my-link {
    a {
      color: $agent-orange;
      @include hover {
        color: $jack-white;
        background-color: $red-fox;
      }
    }
  }

  #blog {
    .article-title a {
      color: $red-fox;
    }

    .article-item {
      border-color: $jack-white;
    }
  }

  #portfolio {
    .article {
      @include hover {
        box-shadow: $jack-white 0 0 5px;
      }
    }
  }

  #footer {
    border-color: $jack-white;
    .footer-inner {
      .social-nav .logo {
        fill: $jack-white;
      }
    }
  }
}

/*************/
//Global Utilities
/*************/

#content_main {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homepage-row {
  @include width-constrain;
  padding: 2.5rem 0;
}

.content-container {
  @include width-constrain;
  padding: 0.75rem;

  .section {
    &-title {
      @include scale-font($small-ratio: 0.75, $final-size: 2rem);
      font: {
        family: $secondary-font;
        weight: 700;
      }
    }
    &-title-sub {
      @include scale-font($small-ratio: 0.75, $final-size: 1.13rem);
      font: {
        family: $secondary-font;
        weight: 700;
      }
    }
    &-main-title {
      @include scale-font($small-ratio: 0.75, $final-size: 2.5rem);
      font-family: $secondary-font;
      line-height: 2.5rem;
      margin-bottom: 1em;
    }
    &-main {
      @include scale-font($small-ratio: 0.75, $final-size: 2rem);
      line-height: 2.5rem;
    }
    &-large {
      @include scale-font($small-ratio: 0.75, $final-size: 1.5rem);
      line-height: 2.5rem;
    }
    &-text {
      font-size: 1.13rem;
    }
  }
}

.btn {
  cursor: pointer;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: flex-start;
  text-decoration: none;
  background: $nord-three;
  color: $jack-white;
  font-weight: 700;
  @include hover {
    color: $jack-white;
    background: $nord-four;
  }
}

.my-link {
  a {
    position: relative;
    padding: 0.12em;
    border-radius: 0.25em;
    text-decoration: none;
    font-weight: 700;
    color: $nord-four;
    @include hover {
      color: $jack-white;
      background-color: $nord-four;
    }
  }
}

figcaption {
  @include hidden;
}

/*************/
//header
/*************/

#header {
  width: 100%;
  border-bottom: 1px dashed $jack-black;

  .sitenav-inner {
    @include width-constrain;
    @include flex-all($direction: column, $justify: center, $align: center);
    padding: 0.75rem;

    .logo {
      margin: 0;
      width: 60px;
      fill: $jack-black;
    }

    .nav-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      a {
        color: $jack-black;
        margin-right: 2rem;
        text-decoration: none;
        @include hover  {
          color: $jack-white;
        }
      }
    }

    .night-mode-btn {
      cursor: pointer;
      color: $jack-black;
      background-color: transparent;
      border: none;

      svg {
        fill: $jack-black;
        width: 40px;
        height: auto;
      }
    }
  }
  @include respond-to($vp-mid) {
    .sitenav-inner {
      @include flex-all($direction: row, $justify: space-between);
    }
  }
}

/*************/
//homepage content
/*************/

#row_main {
  align-items: flex-start;
  .section-large:first-of-type {
    margin-bottom: 1.25em;
  }
}

#row_about {
  .article {
    display: flow-root;
  }
  img {
    max-width: 300px;
    margin-bottom: 0.5em;
  }
  @include respond-to($vp-mid) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
      float: left;
      margin-right: 1em;
    }
  }
}

#homepage_content {
  p {
    margin-bottom: 1.5em;
  }
  @include respond-to($vp-mid) {
    grid-column: 1 / span 2;
  }
}

#homepage_projects {
  @include flex-all($direction: column);
  grid-column: 3 / span 1;
  .list-item {
    margin: 0.8em 0 0 0;
  }
  .padding-above {
    margin: 1em 0;
  }
  @include respond-to($vp-mid) {
    margin: 2em 0;
    border-left: 1px $jack-black dashed;
  }
}

.homepage-lists {
  .list {
    display: grid;
    .list-item {
      padding: .5em;
      a {
        font-size: 1.25rem;
        font: {
          family: $secondary-font;
          weight: 700;
        }
      }
      p { font-style: italic; }
    }
  }
  @include respond-to($vp-mid) {
    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/*************/
//blog content
/*************/

#blog {
  display: grid;
  gap: 1rem;

  .article-item {
    border-bottom: 1px dashed $jack-black;
    &:last-child {
      border-bottom: 0px dashed transparent;
    }
  }

  .article {
    @include flex-all($direction: column, $justify: center, $align: center);
    padding: 1em 0;

    &-summary {
      display: flex;
      flex-direction: column;
    }
    &-title {
      @include scale-font($small-ratio: 0.75, $final-size: 2rem);
      margin: 0;
      a {
        color: $jack-black;
        text-decoration: none;
        @include hover {
          color: $al-green;
        }
      }
    }
    &-image {
      border-radius: 0.25em;
    }
    &-body {
      padding: 0 0 1em 0;
      font-size: 1.13rem;
    }
  }
  @include respond-to($vp-mid) {
    .article {
      @include flex-all($direction: row, $align: flex-start);
      &-image {
        max-width: 415px;
      }
      &-summary {
        margin-left: 1em;
      }
    }
  }
}

/*************/
//portfolio content
/*************/

#portfolio {
  display: grid;
  gap: 1rem;

  .article-item {
    margin: 0 .5em;
  }

  .article {
    @include flex-all($direction: column, $justify: center, $align: center);
    position: relative;
    height: 250px;
    margin: 1em 0;
    border-radius: 0.5em;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    background: {
      size: cover;
      position: center center;
      repeat: no-repeat;
      color: $jack-black;
    }

    &-summary {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      z-index: 9;
      flex-direction: column;
      background-color: rgba($red-fox, .8);
    }

    &-title {
      @include scale-font($small-ratio: 0.75, $final-size: 1.5rem);
      margin-left: .5em;
      color: $jack-white;
      text-decoration: none;
    }
    &-body {
      padding: 0 0 1em 0;
      font-size: 1.13rem;
    }
    @include hover {
      box-shadow: $jack-black 0 0 5px;
    }
  }
  @include respond-to($vp-mid) {
    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/*************/
<<<<<<< HEAD
=======
//article detail
/*************/

#article_detail {
  .imageBlock {
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: auto auto;
    gap: 1em;
    margin: 1em 0;
    img:nth-child(3) { grid-column: 1 /  span 2; }
  }
}


/*************/
>>>>>>> 0fddb6742223bf4bcb3caf74d3ca669b4b9d60a6
//footer
/*************/

#footer {
  width: 100%;
  border-top: 1px dashed $jack-black;
  .footer-inner {
    @include width-constrain;
    @include flex-all($direction: column, $align: center);
    padding: 0.75rem;
    .social-nav {
      @include flex-all($justify: center, $align: center);
      .logo {
        width: 40px;
        margin: 0 0.5em;
        fill: $jack-black;
      }
    }
    .copyright {
      text-align: center;
    }
  }
  @include respond-to($vp-mid) {
    .footer-inner {
      @include flex-all($direction: row, $justify: space-between);
      .copyright {
        margin-left: auto;
      }
    }
  }
}
