// src/sass/recipes.scss

body {
  font-family: sans-serif;
  background-color: aqua;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font: {
    size: 5rem;
    family: monospace;
    weight: 700;
  }
  color: green;
}