@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.dark-theme {
  color: #d8dee9;
  background-color: #2e3440; }
  .dark-theme a {
    color: #d08770; }
  .dark-theme .sitenav {
    border-color: #d8dee9; }
    .dark-theme .sitenav .sitenav-inner .logo {
      fill: #d8dee9; }
    .dark-theme .sitenav .sitenav-inner .nav-list a {
      color: #d8dee9; }
    .dark-theme .sitenav .sitenav-inner .night-mode-btn svg {
      fill: #d8dee9; }
    .dark-theme .sitenav .sitenav-inner .link-btn {
      color: #d8dee9; }
  .dark-theme .footer {
    border-color: #d8dee9; }
    .dark-theme .footer .footer-inner .social-nav .logo {
      fill: #d8dee9; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.13rem;
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  color: #2e3440;
  background-color: #d8dee9;
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/
  /*************/ }
  body .btn {
    cursor: pointer;
    padding: 0.75em 1.75em;
    border-radius: 0.25em; }
    body .btn-primary {
      align-self: flex-start;
      background: #88c0d0;
      color: #2e3440;
      font-weight: 700; }
      body .btn-primary:hover, body .btn-primary:focus {
        text-decoration: none;
        color: #eceff4;
        background: #4c566a; }
  body .sitenav {
    width: 100%;
    border-bottom: 1px dashed #2e3440; }
    body .sitenav-inner {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1024px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.75rem; }
      body .sitenav-inner .logo {
        margin: 0;
        width: 60px;
        fill: #2e3440; }
      body .sitenav-inner .nav-list {
        display: flex;
        align-items: center; }
        body .sitenav-inner .nav-list a {
          margin-right: 2rem;
          text-decoration: none;
          color: #2e3440; }
          body .sitenav-inner .nav-list a:hover {
            text-decoration: underline; }
      body .sitenav-inner .night-mode-btn {
        color: #2e3440;
        background-color: transparent;
        border: none; }
        body .sitenav-inner .night-mode-btn svg {
          fill: #2e3440;
          width: 60px; }
    @media screen and (min-width: 768px) {
      body .sitenav-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }
  body #content_main {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  body .content-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    padding: 0.75rem; }
    body .content-container .section-title {
      font-size: 1.5rem;
      font-family: "Bree Serif", serif;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        body .content-container .section-title {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        body .content-container .section-title {
          font-size: 2rem; } }
    body .content-container .section-large {
      font-size: 1.5rem;
      line-height: 2.5rem; }
      @media screen and (min-width: 768px) {
        body .content-container .section-large {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        body .content-container .section-large {
          font-size: 2rem; } }
    body .content-container .section-text a:nth-child(1) {
      color: #bf616a; }
    body .content-container .section-text a:nth-child(2) {
      color: #d08770; }
    body .content-container .section-text a:nth-child(3) {
      color: #a3be8c; }
  body .blog-list {
    display: grid;
    gap: 1rem; }
    body .blog-list .articles-list {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1024px;
      margin: 0;
      padding: 0;
      list-style: none; }
    body .blog-list .article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px dashed #2e3440; }
      body .blog-list .article-title {
        font-size: 1.5rem;
        padding: 0 0 1em 0;
        margin: 0; }
        @media screen and (min-width: 768px) {
          body .blog-list .article-title {
            font-size: 1.5rem; } }
        @media screen and (min-width: 1024px) {
          body .blog-list .article-title {
            font-size: 2rem; } }
        body .blog-list .article-title a {
          color: #2e3440;
          text-decoration: none; }
          body .blog-list .article-title a:hover, body .blog-list .article-title a:focus {
            color: #a3be8c; }
      body .blog-list .article-image {
        border-radius: .25em; }
      body .blog-list .article-body {
        padding: 1em 0;
        font-size: 1.13rem; }
  body .footer {
    width: 100%;
    border-top: 1px dashed #2e3440; }
    body .footer-inner {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1024px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.75rem; }
      body .footer-inner .social-nav {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .footer-inner .social-nav .logo {
          width: 40px;
          margin: 0 .5em;
          fill: #2e3440; }
      body .footer-inner .copyright {
        text-align: center; }
    @media screen and (min-width: 768px) {
      body .footer-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        body .footer-inner .copyright {
          margin-left: auto; } }
