@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.13rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #1F1F1F;
  background-color: #fffffa; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.dark-theme {
  color: #fffffa;
  background-color: #1F1F1F; }
  .dark-theme #header {
    border-color: #fffffa; }
    .dark-theme #header .sitenav-inner .logo {
      fill: #fffffa; }
    .dark-theme #header .sitenav-inner .nav-list a {
      color: #fffffa; }
      .dark-theme #header .sitenav-inner .nav-list a:hover, .dark-theme #header .sitenav-inner .nav-list a:focus {
        color: #fffffa; }
    .dark-theme #header .sitenav-inner .night-mode-btn svg {
      fill: #fffffa; }
    .dark-theme #header .sitenav-inner .link-btn {
      color: #fffffa; }
  @media screen and (min-width: 768px) {
    .dark-theme #homepage_projects {
      border-color: #fffffa; } }
  .dark-theme .btn {
    background: #d08770;
    color: #fffffa; }
    .dark-theme .btn:hover, .dark-theme .btn:focus {
      background: #bf616a; }
  .dark-theme .my-link a {
    color: #d08770; }
    .dark-theme .my-link a:hover, .dark-theme .my-link a:focus {
      color: #fffffa;
      background-color: #bf616a; }
  .dark-theme #blog .article-title a {
    color: #fffffa; }
  .dark-theme #blog .article-item {
    border-color: #fffffa; }
  .dark-theme #footer {
    border-color: #fffffa; }
    .dark-theme #footer .footer-inner .social-nav .logo {
      fill: #fffffa; }

/*************/
/*************/
#content_main {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.homepage-row {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  padding: 2.5rem 0; }

.content-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  padding: 0.75rem; }
  .content-container .section-title {
    font-size: 1.5rem;
    font-family: "Patua One", Cursive;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      .content-container .section-title {
        font-size: 1.5rem; } }
    @media screen and (min-width: 1024px) {
      .content-container .section-title {
        font-size: 2rem; } }
  .content-container .section-title-sub {
    font-size: 0.8475rem;
    font-family: "Patua One", Cursive;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      .content-container .section-title-sub {
        font-size: 0.8475rem; } }
    @media screen and (min-width: 1024px) {
      .content-container .section-title-sub {
        font-size: 1.13rem; } }
  .content-container .section-main-title {
    font-size: 1.875rem;
    font-family: "Patua One", Cursive;
    line-height: 2.5rem;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .content-container .section-main-title {
        font-size: 1.875rem; } }
    @media screen and (min-width: 1024px) {
      .content-container .section-main-title {
        font-size: 2.5rem; } }
  .content-container .section-main {
    font-size: 1.5rem;
    line-height: 2.5rem; }
    @media screen and (min-width: 768px) {
      .content-container .section-main {
        font-size: 1.5rem; } }
    @media screen and (min-width: 1024px) {
      .content-container .section-main {
        font-size: 2rem; } }
  .content-container .section-large {
    font-size: 1.125rem;
    line-height: 2.5rem; }
    @media screen and (min-width: 768px) {
      .content-container .section-large {
        font-size: 1.125rem; } }
    @media screen and (min-width: 1024px) {
      .content-container .section-large {
        font-size: 1.5rem; } }
  .content-container .section-text {
    font-size: 1.13rem; }

.btn {
  cursor: pointer;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: flex-start;
  text-decoration: none;
  background: #81a1c1;
  color: #fffffa;
  font-weight: 700; }
  .btn:hover, .btn:focus {
    color: #fffffa;
    background: #5e81ac; }

.my-link a {
  position: relative;
  padding: 0.12em;
  border-radius: 0.25em;
  text-decoration: none;
  font-weight: 700;
  color: #5e81ac; }
  .my-link a:hover, .my-link a:focus {
    color: #fffffa;
    background-color: #5e81ac; }

figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

/*************/
/*************/
#header {
  width: 100%;
  border-bottom: 1px dashed #1F1F1F; }
  #header .sitenav-inner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem; }
    #header .sitenav-inner .logo {
      margin: 0;
      width: 60px;
      fill: #1F1F1F; }
    #header .sitenav-inner .nav-list {
      display: flex;
      align-items: center; }
      #header .sitenav-inner .nav-list a {
        color: #1F1F1F;
        margin-right: 2rem;
        text-decoration: none; }
        #header .sitenav-inner .nav-list a:hover, #header .sitenav-inner .nav-list a:focus {
          color: #fffffa; }
    #header .sitenav-inner .night-mode-btn {
      cursor: pointer;
      color: #1F1F1F;
      background-color: transparent;
      border: none; }
      #header .sitenav-inner .night-mode-btn svg {
        fill: #1F1F1F;
        width: 40px;
        height: auto; }
  @media screen and (min-width: 768px) {
    #header .sitenav-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

/*************/
/*************/
#row_main {
  align-items: flex-start; }
  #row_main .section-large:first-of-type {
    margin-bottom: 1.25em; }

#row_about .article {
  display: flow-root; }

#row_about img {
  max-width: 300px;
  margin-bottom: 0.5em; }

@media screen and (min-width: 768px) {
  #row_about {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #row_about img {
      float: left;
      margin-right: 1em; } }

#homepage_content p {
  margin-bottom: 1.5em; }

@media screen and (min-width: 768px) {
  #homepage_content {
    grid-column: 1 / span 2; } }

#homepage_projects {
  display: flex;
  flex-direction: column;
  grid-column: 3 / span 1; }
  #homepage_projects .list-item {
    margin: 0.8em 0 0 0; }
  #homepage_projects .padding-above {
    margin: 1em 0; }
  @media screen and (min-width: 768px) {
    #homepage_projects {
      margin: 2em 0;
      border-left: 1px #1F1F1F dashed; } }

.homepage-lists .list {
  display: grid; }
  .homepage-lists .list .list-item {
    padding: .5em; }
    .homepage-lists .list .list-item a {
      font-size: 1.25rem;
      font-family: "Patua One", Cursive;
      font-weight: 700; }
    .homepage-lists .list .list-item p {
      font-style: italic; }

@media screen and (min-width: 768px) {
  .homepage-lists .list {
    grid-template-columns: repeat(2, 1fr); } }

/*************/
/*************/
#blog {
  display: grid;
  gap: 1rem; }
  #blog .article-item {
    border-bottom: 1px dashed #1F1F1F; }
    #blog .article-item:last-child {
      border-bottom: 0px dashed transparent; }
  #blog .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0; }
    #blog .article-summary {
      display: flex;
      flex-direction: column; }
    #blog .article-title {
      font-size: 1.5rem;
      margin: 0; }
      @media screen and (min-width: 768px) {
        #blog .article-title {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        #blog .article-title {
          font-size: 2rem; } }
      #blog .article-title a {
        color: #1F1F1F;
        text-decoration: none; }
        #blog .article-title a:hover, #blog .article-title a:focus {
          color: #a3be8c; }
    #blog .article-image {
      border-radius: 0.25em; }
    #blog .article-body {
      padding: 0 0 1em 0;
      font-size: 1.13rem; }
  @media screen and (min-width: 768px) {
    #blog .article {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      #blog .article-image {
        max-width: 415px; }
      #blog .article-summary {
        margin-left: 1em; } }

/*************/
/*************/
#portfolio {
  display: grid;
  gap: 1rem; }
  #portfolio .article-item {
    margin: 0 .5em; }
  #portfolio .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    margin: 1em 0;
    border-radius: 0.5em;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1F1F1F; }
    #portfolio .article-summary {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      z-index: 9;
      flex-direction: column;
      background-color: rgba(191, 97, 106, 0.8); }
    #portfolio .article-title {
      font-size: 1.125rem;
      margin-left: .5em;
      color: #fffffa;
      text-decoration: none; }
      @media screen and (min-width: 768px) {
        #portfolio .article-title {
          font-size: 1.125rem; } }
      @media screen and (min-width: 1024px) {
        #portfolio .article-title {
          font-size: 1.5rem; } }
    #portfolio .article-body {
      padding: 0 0 1em 0;
      font-size: 1.13rem; }
    #portfolio .article:hover, #portfolio .article:focus {
      box-shadow: #1F1F1F 0 0 5px; }
  @media screen and (min-width: 768px) {
    #portfolio .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }

/*************/
/*************/
#footer {
  width: 100%;
  border-top: 1px dashed #1F1F1F; }
  #footer .footer-inner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem; }
    #footer .footer-inner .social-nav {
      display: flex;
      justify-content: center;
      align-items: center; }
      #footer .footer-inner .social-nav .logo {
        width: 40px;
        margin: 0 0.5em;
        fill: #1F1F1F; }
    #footer .footer-inner .copyright {
      text-align: center; }
  @media screen and (min-width: 768px) {
    #footer .footer-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #footer .footer-inner .copyright {
        margin-left: auto; } }
