---
title: "Jtcarrasco: About"
pageTitle: "Jason Carrasco"
layout: "base.njk"
---

<div id="row_about" class="homepage-row">
  <section id="homepage_content" class="homepage_content content-container">
    <ul role="list" class="list">
      {%- for post in collections.about | reverse -%}
        {% include 'components/page-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </section>

  <section id="homepage_projects" class="homepage-projects content-container">
    <div class="homepage-row-inner">
      <h4 class="section-title-sub"> Thingys I've worked on:</h4>
      <ul role="list" class="list my-link">
        <li class="list-item"><a href="https://www.rowlandschools.org/" target="_blank" class="item-link">Rowland Unified School District</a></li>
        <li class="list-item"><a href="https://www.erusd.org/" target="_blank" class="item-link">El Rancho School District</a></li>
        <li class="list-item"><a href="https://www.urbansd.com/" target="_blank" class="item-link">Urban Discovery Schools</a></li>
        <li class="list-item"><a href="https://www.habershamschools.com/" target="_blank" class="item-link">Habersham County Schools</a></li>
        <li class="list-item"><a href="https://www.luminschools.org/" target="_blank" class="item-link">Lumin Schools</a></li>
        <li class="list-item"><a href="https://www.garfieldhs.org/" target="_blank" class="item-link">James A. Garfield Senior High School</a></li>
        <li class="list-item"><a href="https://www.bcesc.org/" target="_blank" class="item-link">Butler County Educational Service Center</a></li>
        <li class="list-item"><a href="https://www.slshs.org/" target="_blank" class="item-link">Seton LaSalle Catholic High School</a></li>
        <li class="list-item"><a href="https://www.rsdshafter.org/" target="_blank" class="item-link">Richland School District</a></li>
        <li class="list-item"><a href="https://www.northbergen.k12.nj.us/" target="_blank" class="item-link">North Bergen School District</a></li>
      </ul>
      <h4 class="section-title-sub padding-above"> Stuff I tell people I know (wink wink)</h4>
      <p>HTML, CSS, SASS / SCSS, Java, JS, Jamstack, XD, Lightroom, Photoshop, Illustrator, Atlassian, PHP, Wordpress, SVG's, Markdown, Liquid, Nunjucks, Eleventy, Netlify, Hubspot</p>
    </section>
    </div>
</div>
