---
title: "Jtcarrasco: Blog"
pageTitle: "Blog"
layout: "base.njk"
---

<section class="content-container blog-list">
  <h1 class="section-title">{{ pageTitle }}</h1>
  <ul role="list" class="articles-list flow">
    {%- for post in collections.post | reverse -%}

    {% include 'components/article-snippet.njk' %}

    {%- endfor -%}
  </ul>
</section>
