---
title: "Jtcarrasco: Blog"
pageTitle: "Blog"
layout: "base.njk"
---

<section id="blog" class="content-container blog">
  <h1 class="section-main-title">{{ pageTitle }}</h1>
  <ul role="list" class="list">
    {%- for post in collections.blog | reverse -%}

    {% include 'components/article-snippet.njk' %}

    {%- endfor -%}
  </ul>
</section>
