---
title: "Jtcarrasco"
pageTitle: "Jason Carrasco"
layout: "base.njk"
---

<section class="content-container">
  <h1 class="section-title">I'm {{ pageTitle }}</h1>
  <div class="section-text section-large">A Designer and Developer (at least I play one on the Internet) from Southern California. Currently I work for the great people at <a href="https://www.edlio.com">edlio.com.</a>  I like <a href="https://www.instagram.com/salt_hank/?hl=en">sammiches</a>, <a href="/pets">pets</a>, <a href="https://www.reddit.com/r/mechmarket/">keyboards</a>, <a href="https://www.discogs.com/user/jtcarrasco">vinyl</a> and playing <a href="https://youtu.be/K4MhCvraJeE">“coyote guy”</a> with my Kiddo.</div>
</section>
