---
title: "Jtcarrasco"
pageTitle: "Jason Carrasco"
layout: "base.njk"
---

<div id="row_main" class="homepage-row">
  <section id="homepage_content" class="homepage_content content-container">
    <ul role="list" class="list">
      {%- for post in collections.featured | reverse -%}
        {% include 'components/feature-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </section>
</div>
