---
title: "Jtcarrasco: Likes"
pageTitle: "Likes"
layout: "base.njk"
---

  <section id="homepage_likes" class="homepage-lists content-container">
    <h4 class="section-title"> {{ pageTitle }}</h4>
    <ul role="list" class="list my-link">
      <li class="list-item"><a href="https://css-tricks.com/" class="item-link">Css Tricks</a></li>
      <li class="list-item"><a href="https://daverupert.com/" class="item-link">Dave Rupert</a></li>
      <li class="list-item"><a href="https://www.kevinpowell.co/" class="item-link">Kevin Powell</a></li>
      <li class="list-item"><a href="https://atomicdesign.bradfrost.com/" class="item-link">Atomic Design | Brad Frost</a></li>
      <li class="list-item"><a href="https://www.thisiscolossal.com/" class="item-link">This is Colossal</a></li>
      <li class="list-item"><a href="http://www.youmustrememberthispodcast.com/" class="item-link">You Must Remember This</a></li>
      <li class="list-item"><a href="https://www.theringer.com/60-songs-that-explain-the-90s" class="item-link">60 Songs That Explain the '90s</a></li>
      <li class="list-item"><a href="https://darknetdiaries.com/" class="item-link">Darknet Diaries</a></li>
      <li class="list-item"><a href="https://www.tested.com/" class="item-link">Adam Savage's Tested</a></li>
      <li class="list-item"><a href="https://www.gonewiththewynns.com/" class="item-link">Gone with the Wynns</a></li>
    </ul>
  </section>