---
title: "Jtcarrasco: Portfolio"
pageTitle: "Portfolio"
layout: "base.njk"
---

<section id="portfolio" class="content-container portfolio">
  <h1 class="section-main-title">{{ pageTitle }}</h1>
  <ul role="list" class="list">
    {%- for post in collections.portfolio | reverse -%}

    {% include 'components/portfolio-snippet.njk' %}

    {%- endfor -%}
  </ul>
</section>
