---
title: "Jtcarrasco: Uses"
pageTitle: "Uses"
layout: "base.njk"
---

  <section id="homepage_uses" class="homepage-lists content-container">
    <h4 class="section-title"> {{ pageTitle }}</h4>
    <ul role="list" class="list my-link">
      <li class="list-item"><a href="https://www.11ty.dev" class="item-link">Eleventy</a></li>
      <li class="list-item"><a href="https://code.visualstudio.com/" class="item-link">VS Code</a></li>
      <li class="list-item"><a href="https://ohmyposh.dev/" class="item-link">Oh my posh</a></li>
      <li class="list-item"><a href="https://joplinapp.org/" class="item-link">Joplin</a></li>
      <li class="list-item"><a href="https://www.mozilla.org/en-US/firefox/developer/" class="item-link">Firefox dev</a></li>
      <li class="list-item"><a href="https://discord.com/" class="item-link">Discord</a></li>
      <li class="list-item"><a href="https://www.spotify.com/us/" class="item-link">Spotify</a></li>
      <li class="list-item"><a href="https://www.adobe.com/products/xd.html" class="item-link">Adobe XD</a></li>
      <li class="list-item"><a href="https://www.adobe.com/products/photoshop-lightroom-classic.html" class="item-link">Adobe Lightroom Classic</a></li>
      <li class="list-item"><a href="https://kprepublic.com/products/bm40-rgb-40-hot-swap-custom-mechanical-keyboard-pcb-qmk-underglow-type-c-planck" class="item-link">BM40 RGB Keyboard</a></li>
      <li class="list-item"><a href="https://drop.com/buy/preonic-mechanical-keyboard" class="item-link">Drop + Preonic </a></li>
      <li class="list-item"><a href="https://steelseries.com/gaming-headsets/arctis-3-bluetooth" class="item-link">Steel Series Headphones</a></li>
      <li class="list-item"><a href="https://www.amazon.com/ELECOM-M-XT4DRBK-Wireless-Trackball-Left-Handed/dp/B016QCPRBM" class="item-link">Elecom Left Handed Trackball</a></li>
      <li class="list-item"><a href="https://www.benq.com/en-ap/monitor/designer/pd2700u.html" class="item-link">Benq 4k monitors</a></li>
    </ul>
  </section>
